$bg-color:#101114;
$text-colors-primary:#FFF;
$text-colors-secundary:#FB7B05;
$text-colors-terciary:#605F5F;
$bg-button:#FB7B05;
$text-btn-color:#161616;
$bg-cards-primary: #18181A;
$text-copy-color:#827A7A;
$bg-mini-cards:#2D2D2D;
