.main-inicio {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}

// .main-inicio-logo {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: auto;
// }

.main-inicio-logo img {
    width: 190px;
}